# Optional, defaults to 'development'
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
# see https://www.sanity.io/docs/api-versioning for how versioning works
NEXT_PUBLIC_SANITY_API_VERSION=

SANITY_API_READ_TOKEN=
# Optional, useful if you plan to add API functions that can write to your dataset
SANITY_API_WRITE_TOKEN=
