{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-console": 2,
    "@typescript-eslint/no-explicit-any": 2
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest-dom/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:storybook/recommended",
    "plugin:testing-library/react",
    "next",
    "prettier"
  ]
}
