{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports"],
  "rules": {
    "no-console": 2,
    "prefer-const": 2,
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-unused-vars": 0,
    "unused-imports/no-unused-imports": 2,
    "unused-imports/no-unused-vars": [
      2,
      { "vars": "all", "args": "after-used" }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest-dom/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:storybook/recommended",
    "plugin:testing-library/react",
    "next",
    "prettier"
  ]
}
