@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-inter;
  }
  h1 {
    @apply text-2xl font-extrabold font-outfit;
  }
  h2 {
    @apply text-xl font-extrabold font-outfit;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg font-extrabold font-outfit;
  }
  p {
    @apply text-sm font-normal leading-normal font-inter;
  }

  @media screen(md) {
    h1 {
      @apply text-4xl;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-3xl;
    }
    p {
      @apply text-base leading-normal;
    }
  }
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
