@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-inter;
  }
  body {
    @apply md:text-base;
  }
  :is(h1, h2, h3, h4, h5, h6) {
    @apply font-outfit font-extrabold text-blue;
  }
  h1 {
    @apply text-2xl md:text-4xl;
  }
  h2 {
    @apply text-xl md:text-3xl;
  }
  h3,
  h4,
  h5,
  h6 {
    @apply text-lg md:text-3xl;
  }
}

@layer components {
  .button__link__base {
    @apply flex justify-between gap-2 rounded font-outfit text-base font-extrabold focus-within:shadow-md;
  }

  .link {
    @apply button__link__base px-2 py-1 text-blue underline hover:text-orange focus:text-blue;
  }

  .button {
    @apply bg-orange px-7 py-3 text-white outline-blue hover:bg-blue focus:bg-orange focus:outline active:bg-blue;
  }
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #ffffff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
